.button {
    color: #faf4ca;
    background-color: #819B57;
    border: #819B57;
    border-radius: 8px;
    cursor: pointer;
}

.button:hover {
    color: #465929;
    background-color: transparent;
}

.link {
    color: #faf4ea;
}

.link:hover {
    color: #819B57;
}